@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #888;
  overflow-x: hidden;
  font-size: 15px;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
}

.navbar-toggler:focus,
a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  text-decoration: none;
  outline: none;
  outline: none !important;
  border-color: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #208b47;
  border-color: #208b47;
}

select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #081828;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(white, #3b3b3b);
  cursor: default;
  margin: 0em;
  font: 400 14px;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(#767676, #858585);
  -o-border-image: initial;
  border-image: initial;
}

span,
a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0px;
  color: #081828;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

td {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

/* 반응형 백그라운드 */
.background {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/index/background.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  /* z-index: 2; */
}

.background-test {
  background-image: url(/images/index/background.png);
  background-size: 100vw;
  background-position: center top;
  background-repeat: no-repeat;
  /* z-index: 2; */
}

.app-header {
  padding: 20px 5px;
  margin: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.head-txt {
  text-align: center;
  color: #ddd;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0px;
}

.search-back {
  width: 340px;
  height: 50px;
  background: #fff3;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.search-input {
  width: 300px;
  height: 35px;
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  border: 1px solid #eee;
  margin: 10px 0px 10px 10px;
  padding-left: 10px;
  align-items: center;
  border: none;
}

.search-btn {
  width: 35px;
  height: 35px;
  text-transform: capitalize;
  background-color: #208b47;
  color: #fff;
  border: none;
  transition: 0.5s;
  border-radius: 4px;
  margin: 10px;
}

.txtinput {
  border: none;
}

.loc-c {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-back {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 400px;
  background-color: #ddd;
  overflow: scroll;
}

.nav-detail {
  background-color: #f0ffff;
  width: 55px;
  height: 65px;
  margin: 10px;
  text-align: center;
}

.nav-detail-1 {
  float: left;
  display: block;
}

.nav-detail-2 {
  float: left;
  display: none;
}

.nav-detail-3 {
  float: left;
  display: none;
}

.modal-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0ffff;
  border-radius: 20px;
  border: solid rgba(0, 0, 0, 1);
  display: none;
  width: 80%;
  height: 30%;
}

.merchandisecard {
  width: 150px;
  height: 250px;
  margin: 10px 20px;
  display: inline-block;
  float: left;
  background-color: #f0ffff;
}

.merchandisetitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.merchandiseimg {
  width: 150px;
  height: 150px;
  float: center;
}

.no-data {
  float: center;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.modal-input {
  background-color: transparent;
}

.cookcard {
  width: 320px;
  height: 180px;
  background-color: #f0ffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
}

.cookname {
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.cookinfo {
  align-items: flex-start;
  display: flex;
  width: 100%;
  height: 120px;
}

.cookimg {
  content: url("../images/recipe/recipe_tmp.png");
  width: 100px;
  height: 100px;
  margin: 10px;
}

.cookingre {
  width: 180px;
}

.cookbasket {
  text-align: right;
  padding-right: 10px;
}

.ingredient {
  float: left;
  display: inline-block;
  margin: 2px;
  padding: 1px 5px;
  border-radius: 15px;
}

.cookserve {
  width: 40px;
  text-align: center;
}

.cookservebtn {
  width: 30px;
}

.infridge-0 {
}

.infridge-1 {
  background-color: rgba(50, 50, 0, 0.5);
}

.checklist {
  width: 320px;
  background-color: #f0ffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  padding: 10px;
}

.ingreline {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}

.ingreimg {
  width: 30px;
  height: 30px;
}

.checkbtn {
  border-radius: 20px;
  padding: 5px;
}

.memo-back {
  width: 340px;
  /* height: 50px; */
  background: #fff3;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.memo-input {
  width: 300px;
  height: 150px;
  background: rgba(240, 240, 240, 1);
  border-radius: 14px;
  font-size: 15px;
  border: 1px solid #eee;
  margin: 10px 0px 10px 10px;
  padding: 10px;
  align-items: center;
  border: none;
}

.memo-btn {
  width: 35px;
  height: 35px;
  text-transform: capitalize;
  background-color: #208b47;
  color: #fff;
  border: none;
  transition: 0.5s;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.memocard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.memotop {
  width: 260px;
  background-color: #ffd700;
  padding: 10px 10px 0px 10px;
}

.memoinput {
  padding-bottom: 20px;
}

.memobottom {
  display: flex;
  justify-content: center;
}

.memobottom-left {
  width: 220px;
  height: 40px;
  background-color: #ffd700;
  padding-right: 5px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.memobottom-right {
  width: 0px;
  height: 0px;
  background-color: transparent;
  border-top: 40px solid #daa520;
  border-right: 40px solid transparent;
}

.deletememobtn-0 {
  display: none;
}
