<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>아이디 찾기1</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
  <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" /> -->
  <!-- Place favicon.ico in the root directory -->

  <!-- Web Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <!-- ========================= CSS here ========================= -->
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/LineIcons.2.0.css" />
  <link rel="stylesheet" href="../css/animate.css" />
  <link rel="stylesheet" href="../css/tiny-slider.css" />
  <link rel="stylesheet" href="../css/glightbox.min.css" />
  <link rel="stylesheet" href="../css/app.css" />

</head>

<!-- // 아이디 찾기 폼 -->

<title>아이디 찾기</title>
</head>
<body>
  <section class="hero-area">
    <!-- Start Header Area -->
    <div th:replace="layout/app-header::mainheader"></div>
    <!-- End app-header -->
    <div style="padding-top: 20%">
				
          <form action="/app/find_id" method="post">
            <div style="text-align: center">

          <h3>아이디 찾기</h3>
					<p>
						<label style="margin-top: 20%; margin-bottom: 5%; font-size: 14pt;">Email 입력</label>
						<!-- <input class="w3-input" type="text" id="email" name="email" required> -->
            <div class="input-group mb-3">
              <input style="margin-left: 4%; margin-right: 4%; width: 353px;"  id="email" name="email" type="text" class="form-control" placeholder="email@bit.com" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <!-- <span class="input-group-text" id="basic-addon2" style="margin-right: 15%; text-align: center; justify-items: center;">입력</span> -->
              </div>
            </div>
            
					</p>
					<p class="w3-center">
						<!-- <button type="submit" id=findBtn class="w3-button w3-block w3-black w3-ripple w3-margin-top w3-round">find</button>
						<button type="button" onclick="history.go(-1);" class="w3-button w3-block w3-black w3-ripple w3-margin-top w3-margin-bottom w3-round">Cancel</button> -->
            <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 5%; justify-items: center; width: 363px;">find</button>
            <button type="button" onclick="history.go(-1); "class="btn btn-secondary btn-lg btn-block" style="margin-bottom: 5%; justify-items: center; width: 363px;">Cancel</button>
					</p>
				</div>
			</form>
		</div>
	</div>

  <!-- ========================= JS here ========================= -->
  <script src="../js/bootstrap.min.js"></script>

</body>

</html>