<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- Start Items Tab Area -->
  <section class="items-tab section custom-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2 class="wow fadeInUp" data-wow-delay=".4s">Trending Ads</h2>
            <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
              Ipsum available, but the majority have suffered alteration in some form.</p>
          </div>
        </div>
      </div>

      <!-- 여기 밑에서 부터가 실질적으로 내가 사용할 내브탭 부분 -->
      <div class="row">
        <div class="col-12">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-latest-tab" data-bs-toggle="tab" data-bs-target="#nav-latest"
                type="button" role="tab" aria-controls="nav-latest" aria-selected="true">Latest Ads</button>
              <button class="nav-link" id="nav-popular-tab" data-bs-toggle="tab" data-bs-target="#nav-popular"
                type="button" role="tab" aria-controls="nav-popular" aria-selected="false">Popular Ads</button>
              <button class="nav-link" id="nav-random-tab" data-bs-toggle="tab" data-bs-target="#nav-random"
                type="button" role="tab" aria-controls="nav-random" aria-selected="false">Random Ads</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-latest" role="tabpanel" aria-labelledby="nav-latest-tab">
              <div class="row">
                ...
              </div>
            </div>
            <div class="tab-pane fade" id="nav-popular" role="tabpanel" aria-labelledby="nav-popular-tab">
              <div class="row">
                ...
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Items Tab Area -->
</body>

</html>